<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supsmart.portal.dao.ConstsClassifyMapper">

    <resultMap type="com.supsmart.portal.entity.ConstsClassify" id="ConstsClassifyMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="parentCode" column="parent_code" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
        <result property="del" column="del" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ConstsClassifyMap">
        select
          id, name, code, parent_code, sort, create_time, create_user, update_time, update_user, del
        from ocdb.t_consts_classify
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ConstsClassifyMap">
        select
          id, name, code, parent_code, sort, create_time, create_user, update_time, update_user, del
        from ocdb.t_consts_classify
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ConstsClassifyMap">
        select
          id, name, code, parent_code, sort, create_time, create_user, update_time, update_user, del
        from ocdb.t_consts_classify
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="parentCode != null and parentCode != ''">
                and parent_code = #{parentCode}
            </if>
            <if test="sort != null">
                and sort = #{sort}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
            <if test="del != null">
                and del = #{del}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ocdb.t_consts_classify(name, code, parent_code, sort, create_time, create_user, update_time, update_user, del)
        values (#{name}, #{code}, #{parentCode}, #{sort}, #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{del})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ocdb.t_consts_classify
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="parentCode != null and parentCode != ''">
                parent_code = #{parentCode},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
            <if test="del != null">
                del = #{del},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ocdb.t_consts_classify where id = #{id}
    </delete>

</mapper>